body {
    background-color: #3a3a3a;
}
.top-control {
    background-color: #267694;
}
.bottom-control {
    background-color: #204d5e;
}
.card-control {
    color: black;
}

.card-img-control {
    border-radius: 5%;
    padding: 5px;
}