.body-text {
    color: #b5b6b7;
}

.center-text {
    text-align: center;
}

.title {
    font-size: 30px;
}

.heading {
    font-size: 24px;
}

.citation {
    font-size: 18px;
}

