a, a:hover, a:visited {
    color: #b5b6b7;
}

body {
    padding-bottom: 75px;
}

.body-text {
    color: #b5b6b7;
}

.center-text {
    text-align: center;
}

.title {
    font-size: 30px;
}

.annotation {
    font-size: 16px;
    padding-left: 60px;
}

@media (max-width: 900px) {
    .annotation {
        font-size: 18px;
        padding-left: 60px;
    }
}

.citation {
    font-size: 18px;
}

