
  body {
      padding-bottom: 75px;
  }

  .body-text {
      padding-top: 20px;
      color: #b5b6b7;
  }

  .center-text {
      text-align: center;
  }
  
  .local, .local:hover, .local:visited {
    color: #8a8a8a;

  }

  .page-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


